@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .navbar.is-primary, .menu .menu-list a.is-active {
        background-color: #d270ff !important;
    }

    .navbar.is-primary .navbar-item:hover, .navbar.is-primary .navbar-item.is-active {
        background-color: #9152ae !important;
    }

    .column {
        flex-basis: auto !important;
    }

    .hero.is-fullheight {
        height: 100vh;
    }
}